{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}- Edit Playlist{% endblock %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mx-0 pb-5 form-container">
    <h2>Playlist</h2>

    <!-- {% if playlist_form.errors %}
    <pre>{{ playlist_form.errors }}</pre>
    {% endif %} -->
    <!-- TO DELETE -->

    {% if formset.errors %}
    <pre>{{ formset.errors }}</pre>
    {% endif %}
    <!-- 
    <pre class="text-danger">{{ songs }}</pre>
    <pre class="text-danger">{{ songs|length }}</pre>
    
    {% for song in songs %}
        <div class="row">
            <div class="col">
                <p>{{ song.number }}</p>

            </div>
        </div>
    {% endfor %} -->

    <!--  -->

    <form class="scrollable" method="post" action="{% url 'edit_playlist' playlist.id playlist.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="row">
            <div class="col-4">
                {{ playlist_form | crispy }}
            </div>
            <div class="col-4 pt-4">
                <button class="btn btn-info hvr-grow-shadow" type="submit">Update Playlist</button>
            </div>
        </div>

        <br>
        <h3>Upload Songs</h3>
        <table class="table table-upload table-sm">
            <thead>
                <tr>
                    {% for field in formset.forms.0.visible_fields %}
                    <th class="text-dark">{{ field.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        {{ form.id }}
                        {% for field in form.visible_fields %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-grid col-6 mx-auto">
            <button class="btn btn-info btn-lg hvr-grow-shadow" type="submit">Update Playlist</button>
        </div>
    </form>
    <!-- DELETE MODAL -->
    <button type="button" id="deleteModalButton" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete
    </button>
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-dark" id="deleteModalLabel"><strong>Delete</strong></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                Are you sure you want to delete this playlist?
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'delete_playlist' playlist.id playlist.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, delete playlist</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
          </div>
        </div>
    </div>
    <!-- BACK MODAL --> 
    <button type="button" id="backButtonModal" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#backButton">Back</button>
    <div class="modal fade" id="backButton" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="backButtonLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body text-dark">
                Are you sure you want to leave without saving?
            </div>
            <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'home' %}">Yes, I want to go back.</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
    </div>  
</div>
{% endblock %}
