{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header>
    <nav class="navbar fixed-top">
        <div class="row container-fluid">
            <!-- Navbar -->
            <div class="col-md-1 col-sm-1 pe-0 me-0 ps-4">
                {% include 'home/includes/main-nav.html' %}
            </div>
            <!-- Logo -->
            <div class="col-lg-11 col-sm-10 py-2">
                <h1>
                    <span class="logo-music">Music</span> <span class="logo-bingo">BING</span><i class="fa-solid fa-bowling-ball"></i></h1>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="container mt-5 py-5 text-center">
    <div class="row align-middle">
        <div class="col mt-5">
            <h1 class="display-4 text-info mt-5">Lets play Music Bingo!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fs-5">"Time to turn up the volume and play music bingo! Sing your heart out, win prizes, and let’s have
                a blast together!"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg my-5 hvr-float-shadow">Play Music Bingo</button>
        </div>
    </div>
</div>
{% endblock %}