{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row align-middle">
        <div class="col mt-5">
            <h1 class="display-4 text-info mt-5">Let's play Music Bingo!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fs-5">"Time to turn up the volume and play music bingo! Sing your heart out, win prizes, and let’s
                have
                a blast together!"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg my-5 hvr-float-shadow" id="home-button" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
                Play Music Bingo
            </button>
        </div>
    </div>
</div>
{% endblock %}