{% extends "base.html" %}
{% load static %}
{% block extra_title %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="top-space bg-bingo-light p-5 pt-3 rounded shadow text-dark w-50">
        <a href="{% url 'home' %}" class="d-flex justify-content-end">
            <i class="fa-solid fa-xmark fs-4 text-dark"></i>
        </a>
        {% block inner_content %}
        {% endblock inner_content %}
    </div>
</div>
{% endblock content %}
