/* ---------------------- ROOT ---------------------- */

/* ---------------------- GLOBAL ---------------------- */
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 20px;
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
    color:aliceblue;
}

a {
    text-decoration: none;
}


/* ---------------------- NAVBAR ---------------------- */
.user-icon {
    height:100px;
    width: 100px;
    font-size: 50px;
}

.logo-music {
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

.logo-bingo {
    font-family: "Frijole", system-ui;
    font-weight: 400;
    font-style: normal;
}
