{% extends "account/base_entrance.html" %}
{% block extra_title %}- Done{% endblock extra_title %}

{% block inner_content %}
<h2>Password Reset</h2>
{% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
<a href="{% url 'account_login' %}" class="btn btn-lg bg-bingo-dark-violet text-white">Login</a>
<a href="{% url 'home' %}" class="btn btn-lg btn-secondary">Home</a>
{% endblock inner_content %}
{% comment %} {% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
{% endblock content %}
 {% endcomment %}