{% extends "account/base_entrance.html" %}
{% block extra_title %}- Password Reset Done{% endblock extra_title %}

{% block inner_content %}
<div class="text-center">
    <h2>Change Password</h2>
    <p>Your password is now changed.</p>
    <a href="{% url 'home' %}" class="btn btn-lg btn-secondary px-3 mx-3">Ok</a>
</div>
{% endblock inner_content %}
{% comment %} {% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
{% endblock content %} {% endcomment %}
