{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}

{% block extra_title %}- Log in{% endblock %}

{% block inner_content %}
  <h2>Sign Up</h2>
  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-lg btn-primary px-5">Create Account</button>
    </div>
  </form>
  <p>Already have an account? <a href="{% url 'account_login' %}">Log in</a></p>
{% endblock inner_content %}
