
<!-- List a playlist -->
{% for playlist in playlists %}
<li class="list-group-item d-flex justify-content-between align-items-center">
	{{ playlist.name }}
	<button class="badge bg-bingo-primary rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		. . .
	</button>
	<ul class="dropdown-menu playlist-menu">
		<li><a class="dropdown-item play-active" href="{% url 'start_game' playlist.id playlist.slug %}">Play</a></li>
		<li><a class="dropdown-item" href="{% url 'edit_playlist' playlist.id playlist.slug %}">Edit</a></li>
		<li><a class="dropdown-item" href="{% url 'edit_playlist' playlist.id playlist.slug %}?open_modal=1" id="delete_button">Delete</a></li>
	</ul>
</li>
{% endfor %}
<!-- Add button -->
{% if playlists|length == 0 %}
	<p class="text-center text-secondary">No Playlist added yet</p>
	<a class="add-playlist text-center" href="{% url 'add_playlist' %}">
		<i class="fa-solid fa-circle-plus hvr-pulse"></i>
	</a>
{% elif playlists|length == 5 %}
<p class="text-center text-secondary py-4"><small>You've reached the maximum limit. Please delete to create new playlist.</small></p>
{% else %}
<a class="add-playlist text-center" href="{% url 'add_playlist' %}">
	<i class="fa-solid fa-circle-plus hvr-pulse"></i>
</a>
{% endif %}

