<!-- TOGGLE BUTTON -->
<button class="navbar-toggler hvr-bounce-in" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
	aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
	<span><i class="fa-solid fa-bars text-light"></i></span>
</button>
<!-- NAVBAR -->
<div class="offcanvas offcanvas-start bg-danger-subtle" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
	<div class="offcanvas-header">
		<!-- NAVBAR HEADER -->
		<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Music BINGO Account</h5>
		<button type="button" class="btn-close hvr-push" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<hr>
	<div class="offcanvas-body">
		<!-- PROFILE -->
		{% if user.is_authenticated %}
		<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
			<li class="nav-item text-center d-flex justify-content-center">
				<div class="bg-body-secondary rounded-circle user-icon p-3 d-flex justify-content-center align-items-center">
					<i class="fa-solid fa-user"></i>
				</div>
			</li>
			<li class="nav-item text-center pt-3">
				<a class="nav-link pb-0" href="#">
					<h3>Hi, <strong>Melisa</strong></h3>
				</a>
				<ul class="nav d-flex justify-content-center">
					<li class="nav-item">
						<a class="nav-link pt-0 pe-2 fs-6 text-body-tertiary" href="#">Edit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pt-0 ps-2 fs-6 text-body-tertiary hvr-icon-wobble-horizontal" href="{% url 'account_logout' %}">
							Log out <i class="fa-solid fa-arrow-right-from-bracket hvr-icon"></i>
						</a>
					</li>
				</ul>
			</li>
			<!-- PLAYLIST -->	
			<li class="nav-item">
				<h5>Playlists</h5>
				<ul class="list-group custom-list dropdown">
					{% include 'playlists/includes/all_playlists.html' %}
				</ul>
			</li>
			<!-- GAME HISTORY -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Game History
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Game 1</a></li>
					<li><a class="dropdown-item" href="#">Game 2</a></li>
				</ul>
			</li>	
		</ul>
		{% else %}
		<div class="container-fluid text-center">
			<div class="row align-middle">
				<div class="col">
					<p class="text-secondary fs-5 mt-5 pt-5">Please login to your account.</p>
					<a href="{% url 'account_login' %}" class="btn login-btn">Login</a>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
