{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Game Board{% endblock %}

{% block content %}
<div class="container-fluid">
    {% comment %} BACK BUTTON {% endcomment %}
    <button type="button" class="btn btn-primary d-none" id="backGameModal" data-bs-toggle="modal" data-bs-target="#backGame">
        Exit game
    </button>

    {% comment %} BACK BUTTON MODAL {% endcomment %}
    <div class="modal fade text-dark" id="backGame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="backGameLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to leave the game?
                </div>
                <div class="modal-footer">
                    <a href="{% url 'stop_game' %}" class="btn btn-danger">Exit Game</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %}------------- GAME BOARD LOAD -------------- {% endcomment %}
    {% comment %}------------- GAME BOARD LOAD -------------- {% endcomment %}
    {% if game_board %}
    <div class="row">
        <div class="col-md-9 col-sm-12 top-space">
            <div class="row container-fluid justify-content-around mt-4">
                <div class="col-md-4 col-sm-12">
                    Playlist: <h3 class="mt-3">{{ playlist.name }}</h3>
                </div>
                {% for prize in prizes %}
                <div class="col-2">
                    <button type="button" class="btn rounded-4 prize-btn">
                        {{ prize }}
                    </button>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            {% comment %} <!-----  VIDEO ----------> {% endcomment %}
                            <video class="object-fit-scale border rounded my-3 bingo-video" controls>
                                <source src="#" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    {% comment %} PREVIOUS NUMBERS {% endcomment %}
                    <div class="row mb-1 justify-content-center">
                        <div class="col-md-5 col-3 text-end">
                            <h5>Previous numbers:</h5>
                        </div>
                        <div class="col-1 mx-2">
                            <button class="btn btn-success rounded-circle fs-4 previous-num">-</button>
                        </div>
                        <div class="col-1 mx-2">
                            <button class="btn btn-success rounded-circle fs-4 previous-num">-</button>
                        </div>
                        <div class="col-1 mx-2">
                            <button class="btn btn-success rounded-circle fs-4 previous-num">-</button>
                        </div>
                        <div class="col-1 mx-2">
                            <button class="btn btn-success rounded-circle fs-4 previous-num">-</button>
                        </div>
                        <div class="col-1 mx-2">
                            <button class="btn btn-success rounded-circle fs-4 previous-num">-</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-5">
                    {% comment %} CURRENT NUMBER{% endcomment %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-2 current-number">-</div>
                    </div>
                    <div class="row">
                        {% comment %} <!-----  TITLE ----------> {% endcomment %}
                        <div class="col-12 pt-4 text-center" style="height: 100px;">
                            <h4>No title</h4>
                            <p class="text-secondary fs-6">No artist</p>
                        </div>
                    </div>
                    {% comment %} CONTROLS {% endcomment %}
                    <div class="row my-3">
                        <div class="col-12 d-flex justify-content-center">
                            <form action="{% url 'next_number' %}" method="post">
                                {% csrf_token %}
                                <button id="nextButton" class="game-btn nxt-btn">START</button>
                            </form>
                        </div>
                        <div class="col-md-6 col-6">
                            <div class="auto-toggle-button auto-gd">
                                <div class="auto-btn auto-btn-pill" id="button-3">
                                    <input type="checkbox" class="auto-checkbox" id="autoCheckbox" />
                                    <div class="auto-knob"></div>
                                    <div class="auto-btn-bg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-6 d-flex align-items-center justify-content-center">
                            <button type="button" class="game-btn stop-btn" data-bs-toggle="modal" data-bs-target="#stopGameModal">
                                Stop
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} ---------   ALL NUMBERS TABLE -----------------  {% endcomment %}
        <div class="col-md-3 col-sm-9 container-fluid justify-content-center mt-4">
            <table class="table mt-2">
                <tbody>
                {% for song in songs %}
                    {% if forloop.counter0|divisibleby:5 %}
                        <tr>
                    {% endif %}
                        <td class="pb-1 p-0">
                            <button class="btn btn-secondary rounded-circle text-dark song-num p-0">{{ song.number }}</button>
                        </td>
                    {% if forloop.counter|divisibleby:5 or forloop.last %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    {% comment %} ----- WHEN START/NEXT BUTTON CLICKED ------ {% endcomment %}
    <div class="row">
        <div class="col-md-9 col-sm-12 top-space">
            <div class="row container-fluid justify-content-around mt-4">
                <div class="col-md-4 col-sm-12">
                    Playlist: <h3 class="mt-3">{{ playlist.name }}</h3>
                </div>
                {% comment %} ALL PRIZES AVAILABLE {% endcomment %}
                {% for prize in prizes %}
                {% if prize in prizes_claimed %}
                <div class="col-2">
                    <button type="button" class="btn rounded-4 disabled fs-6 d-none d-sm-block">
                        {{ prize }}
                    </button>
                    {% for winner in winners %}
                        {% if winner.prize == prize %}
                        <p class="fs-6 py-2 text-secondary">
                            Winner:
                            <span class="text-yellow">{{ winner.name }}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <button type="button" class="btn rounded-4 prize-btn" data-bs-toggle="modal" data-bs-target="#prizesModal" data-prize="{{ prize }}">
                    {{ prize }}
                </button>
                {% endif %}

                {% comment %}------ CHECK WINNER MODAL ----- {% endcomment %}
                <div class="modal fade text-dark" id="prizesModal" tabindex="-1" aria-labelledby="prizesModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="prizesModalLabel">CHECK NUMBER</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'add_winner' %}" method="post">
                                    {% csrf_token %}
                                    <div class="d-flex mb-2">
                                        <label for="name">Name: </label>
                                        <input type="text" class="form-control px-2 ms-2" placeholder="Type name" name="name">
                                    </div>
                                    <div class="d-flex mb-2">
                                        <label for="prize">Prize: </label>
                                        <input type="text" class="form-control px-2 ms-2" name="prize" id="prizeInput" readonly>
                                    </div>
                                    <div id="buttons-container" class="p-3">
                                        {% for called in called_num %}
                                            <button type="button" class="winning-btn rounded-circle btn btn-secondary text-center" data-number="{{ called }}">
                                                {{ called }}
                                            </button>
                                        {% endfor %}
                                    </div>
                                    <input type="hidden" name="selected_numbers" id="selected_numbers_input">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Check</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </div>
            {% comment %} <!-----  DISPLAY ----------> {% endcomment %}
            <div class="row">
                <div class="col-md-9 col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            {% comment %} <!-----  VIDEO ----------> {% endcomment %}
                            {% if current_song.video_file %}
                                <video id="videoPlayer" class="object-fit-scale my-3 bingo-video" controls autoplay>
                                    <source src="{{ current_song.video_file.url }}" type="video/mp4">
                                </video>
                            {% else %}
                                <img src="{% static 'images/no-image.png' %}" alt="No video available"class="object-fit-scale my-3 bingo-video">
                            {% endif %}
                        </div>
                    </div>
                    {% comment %} PREVIOUS NUMBERS {% endcomment %}
                    <div class="row mb-1 justify-content-center">
                        <div class="col-md-5 col-3 text-end">
                            <h5>Previous numbers:</h5>
                        </div>
                        {% for p in previous_numbers %}
                                <div class="col-1 mx-2">
                                    <button class="btn btn-success rounded-circle fs-4 previous-num">{{ p }}</button>
                                </div>
                        {% endfor %}
                    </div>
                </div>
                {% comment %} CURRENT NUMBERS AND CONTROLS {% endcomment %}
                <div class="col-md-3 col-sm-12 mt-5">
                    <div class="row justify-content-center mt-4">
                        <div class="col-2 current-number">{{ current_song.number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pt-4 text-center" style="height: 100px;">
                            {% comment %} <!-----  TITLE ----------> {% endcomment %}
                            {% if current_song.title %}
                                <h4>
                                    {{ current_song.title }}
                                </h4>
                            {% else %}
                                <h4>No title</h4>
                            {% endif %}
                            {% if current_song.artist %}
                                <p class="text-secondary fs-6">By: {{ current_song.artist }}</p>
                            {% else %}
                                <p class="text-secondary fs-6">No artist</p>
                            {% endif %}

                        </div>
                    </div>
                    {% comment %} CONTROLS {% endcomment %}
                    <div class="row my-3">
                        <div class="col-12 d-flex justify-content-center">
                            <form action="{% url 'next_number' %}" method="post">
                                {% csrf_token %}
                                <button id="nextButton" class="game-btn nxt-btn">NEXT</button>
                            </form>
                        </div>
                        {% comment %} AUTOPLAY BUTTON {% endcomment %}
                        <div class="col-md-5 col-6">
                            <div class="auto-toggle-button auto-gd">
                                <div class="auto-btn auto-btn-pill" id="button-3">
                                    <input type="checkbox" class="auto-checkbox" id="autoCheckbox" />
                                    <div class="auto-knob"></div>
                                    <div class="auto-btn-bg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-6 d-flex align-items-center justify-content-center">
                            <button type="button" class="game-btn stop-btn" data-bs-toggle="modal" data-bs-target="#stopGameModal">
                                Stop
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} ------ ALL NUMBERS TABLE-------- {% endcomment %}
        <div class="col-md-3 col-sm-9 container-fluid justify-content-center mt-4">
            <table class="table mt-2">
                <tbody>
                {% for song in songs %}
                    {% if forloop.counter0|divisibleby:5 %}
                        <tr>
                    {% endif %}
                        <td class="pb-1 p-0">
                            {% if song.number in called_numbers %}
                            <button class="btn called-num rounded-circle text-white song-num my-1"><strong>{{ song.number }}</strong></button>
                            {% else %}
                            <button class="btn btn-secondary rounded-circle text-dark song-num my-1">{{ song.number }}</button>
                            {% endif %}
                        </td>
                    {% if forloop.counter|divisibleby:5 or forloop.last %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% comment %} <!-- show winner MODAL --> {% endcomment %}
    <div class="modal fade text-dark" id="winnerModal" tabindex="-1" aria-labelledby="winnerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="winnerModalLabel">Winner</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Congratulations {{ winner_name }}! 🎉  
                    You won!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="check-winner" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} <!-- Modal end game--> {% endcomment %}
    <div class="modal fade text-dark" id="stopGameModal" tabindex="-1" aria-labelledby="stopGameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger-subtle">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>End the game</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to end this game?</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'stop_game' %}" class="btn btn-primary">OK</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!-- game over --> {% endcomment %}
    <div class="modal fade text-dark" id="staticGameOver" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticGameOverLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>GAME OVER!</h3>
                    <h4> Congratulations to all the winners! 🎊</h4>
                    <p>Game: {{ game.played_on|date:"D, d M Y" }}</p>
                    <ul>
                        {% for winner in winners %}
                            <li class="list-unstyled"><strong>{{ winner.prize }}</strong> - {{ winner.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'home' %}" class="btn btn-primary">OK</a>

                </div>
            </div>
        </div>
    </div>
    
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% if winner %}
<script>
    const winnerModal = new bootstrap.Modal(document.getElementById('winnerModal'));
    winnerModal.show();
</script>
{% endif %}
{% if game_over %}
<script>
    const gameOverModal = new bootstrap.Modal(document.getElementById('staticGameOver'));
    gameOverModal.show();
</script>
{% endif %}
{% endblock %}
